
.container-5 {
  border: 4px black solid;
  margin: auto;
  width: 75%;
  padding: 3px;
  text-align: center;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3
 {
  border: 2px black solid;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/* blackjack */

.blackjack-heading h1 {
  background: url("../img/bjimages/blackjack-background-1.JPG") center no-repeat;
  padding: 5px;
  color: white;
}
.blackjack-heading h6 {
  font-style: normal;
}


.flex-blackjack-row-1,
.flex-blackjack-row-2 {
  background: url("../img/bjimages/blackjack-background-2.JPG") center no-repeat;
}
.flex-blackjack-row-1 h2{
  color: white;
}


.flex-blackjack-row-1 img {
  padding: 10px;
  width: 30%;
 
}
@media screen and (min-width: 1300px){
  .flex-blackjack-row-1  {
    height: 500px;
  }
}

@media screen and (max-width: 500px){
  .flex-blackjack-row-1 img {
    padding: 10px;
    width: 30%;
    
    
  }
  .flex-blackjack-row-1  h2{
   font-size: 20px;
  }
  .flex-blackjack-row-2 button {
    padding: 5px;
    font-size: 15px;
  }
}
.flex-blackjack-row-1 div {
  color: white;
  height: 350px;
  flex: 1;
  border: 1px black solid;
}
.flex-blackjack-row-2 div {
  border: 1px black solid;
  padding: 5px;
}

@media screen and (min-width: 1000px){
  .flex-blackjack-row-1 div{
    height: 470px;
  }
}
table,
th,
td {
  border: 1px black solid;
  padding: 5px;
}

